<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.apple.security.device.accessibility</key>
	<true/>
	<key>com.apple.security.device.keyboard-and-mouse</key>
	<true/>
	<key>com.apple.security.temporary-exception.apple-events.send</key>
	<array>
		<string>com.apple.systemuiserver</string>
	</array>
</dict>
</plist>
