<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSAccessibilityUsageDescription</key>
	<string>Clippy, kopyaladığınız öğeleri diğer uygulamalara yapıştırmak ve anahtar kelime özelliğini kullanarak metinleri otomatik olarak genişletmek için Erişilebilirlik iznine ihtiyaç duyar.</string>
	<key>NSInputMonitoringUsageDescription</key>
	<string>Clippy, "Anahtar Kelime ile Yapıştırma" özelliğinin çalışması için klavye girişlerinizi izleme iznine ihtiyaç duyar. Bu, yazdığınız bir anahtar kelimeyi (örn: ;imza) ilgili içerikle otomatik olarak değiştirmek için kullanılır.</string>
</dict>
</plist>
